// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  display: none;
}

.header-div {
  background-color: rgb(52, 81, 97);
  color: white;
  padding: 30px;
  margin-bottom: 20px;
}